body {
    background-image: url("../images/redCarpet.jpg");  
    margin-left: 2%;   
}

h1, h5 {
    color:white;
    font-family: 'Lobster', cursive;    
}

.btn-danger {
    padding-bottom: 3.5%;
}